.place__link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  box-shadow: 0 1px 0 0 white;
}

.place__link:hover {
  opacity: 0.8;
}
